.page-footer {
  padding-top: 6rem;
  background-color: #292929;
  color: $color-white;

  &__wrapper {
    padding: 0 -2rem;

    @media (min-width: $tablet-width) {
      width: 84%;
      max-width: 96rem;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 4rem;
    }
  }

  &__contacts {
    text-align: center;
    margin-bottom: 3rem;

    @media (min-width: $tablet-width) {
      width: 55%;
      text-align: left;
      order: 0;
      margin-right: auto;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      margin-right: 6rem;
    }
  }

  &__contact-name {
    display: inline-block;
    padding-bottom: 1rem;
    
    @media (min-width: $tablet-width) {
      text-transform: uppercase;
    }
  }

  &__contact-address {
    padding: 0 2rem;
    margin-bottom: 3rem;

    @media (min-width: $tablet-width) {
      padding-left: 0;
      margin: 0;
    }
  }

  &__phone-show {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  &__phone-button {
    display: block;
    margin: 0 2rem;
    padding: 1rem 2rem;

    @media (min-width: $tablet-width) {
      display: inline;
      margin: 0;
      padding: 0;
      border: 0;
      text-transform: none;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__button {
    display: block;
    margin: 0 2rem;
    padding: 1rem 2rem;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &__social {
    text-align: center;
    margin-bottom: 2rem;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      order: 2;
      padding: 2rem 0;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 0;
      order: 1;
      padding: 0;
      margin-right: auto;
    }
  }

  &__social-title {
    display: none;
    
    @media (min-width: $desktop-width) {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__box-links {
    display: flex;
    list-style: none;

    @media (min-width: $desktop-width) {
      min-width: 17rem;
      justify-content: space-between;
    }
  }

  &__item {
    flex-grow: 1;
    display: flex;

    @media (min-width: $desktop-width) {
      flex-grow: 0;
    }
  }

  &__link {
    flex-grow: 1;
    padding: 4rem;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      order: 2;
      padding: 3rem;

      svg {
        width: 4rem;
        height: 4rem;
      }
    }

    @media (min-width: $desktop-width) {
      flex-grow: 0;
      order: 1;
      padding: 1.2rem 1.5rem 0.5rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__copyright {
    padding-bottom: 2rem;

    p {
      text-align: center;
      margin-bottom: 1rem;
    }

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }
}