$color-black: #000000;
$color-white: #ffffff;

$color-brown: #6a4d38;
$color-light-brown: #826550;
$color-light-brown-2: #755a46;
$color-medium-brown: #624530;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
