*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10xp 10px/16px = 62.5%
  box-sizing: border-box;
}

body {
  min-width: 32rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  color: $color-black;
  background-color: #353535
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}