.form {
  margin: 0 2rem;
  padding-bottom: 4rem;
  background-color: #f8f5f2;

  &__wrapper {
    @include responsive-container;
  }

  &__group {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;

    &--fio {
      @media (min-width: $tablet-width) {
        display: flex;
        margin-bottom: 2.5rem;
      }

      @media (min-width: $desktop-width) {
        input:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }

    &--contacts {
      @media (min-width: $tablet-width) {
        margin-bottom: 0;

        input {
          margin-bottom: 2.5rem;
        }
      }

      @media (min-width: $desktop-width) {
        display: flex;

        input:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }

  &__input {
    width: 100%;
    border: 1px solid #e5ddd5;
    padding: 0.8rem 1.5rem 1.1rem;
    margin-bottom: 0.5rem;
    font: inherit;

    &::placeholder,
    &::-moz-placeholder {
      color: $color-black;
    }

    &:hover {
      border: 1px solid #d5c9bd;
    }

    &:active,
    &:focus {
      border: 1px solid #999999;
    }

    &--size-full {
      width: 100%;
      height: 10rem;

      @media (min-width: $tablet-width) {
        height: 15rem;
      }
    }
  }

  &__title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;

    @media (min-width: $tablet-width) {
      position: relative;
      font-size: 3rem;
      line-height: 3rem;
      margin: 4rem 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        width: 22%;
        height: 1px;
        background-color: #e5ddd5;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      @media (min-width: $desktop-width) {
        &::before,
        &::after {
          width: 30%;
        }
      }
    }
  }

  &__radio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 20%;
      margin: 0 6%;
      
      @media (min-width: $tablet-width) {
        width: auto;
        margin: 0;
      }
    }

    @media (min-width: $tablet-width) {
      justify-content: space-around;
    } 
  }

  &__radio:checked + &__radio-label::before {
    background-color: #e5ddd5;
    box-shadow: inset 0 0 0 1.5rem $color-white;
  }

  &__radio-label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2.4rem; 
    
    &::before {
      content: "";
      display: inline-block;
      width: 5rem;
      height: 5rem;
      border: 0.2rem solid #e5ddd5;
      border-radius: 50%;
      cursor: pointer;
      background-color: $color-white;
      background-clip: content-box;
      transition: all .2s ease;
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      width: 7rem;
      height: 10.5rem;
      top: 1rem;
      background-repeat: no-repeat;
      background-position: center 0;
    }

    &--icon-beard-1 {
      &::after {
        background-image: url("../img/beard-1.svg");
      }  
    }

    &--icon-beard-2 {
      &::after {
        background-image: url("../img/beard-2.svg");
      }  
    }

    &--icon-beard-3 {
      &::after {
        background-image: url("../img/beard-3.svg");
      }  
    }

    &--icon-beard-4 {
      &::after {
        background-image: url("../img/beard-4.svg");
      }  
    }

    &--icon-beard-5 {
      &::after {
        background-image: url("../img/beard-5.svg");
      }  
    }
  }

  &__button {
    display: block;
    width: 100%;
    font: inherit;
    font-weight: 700;
    color: $color-white;
    background-color: #826550;
    margin-top: 5rem;
    padding: 1rem 2rem;
  }
}