.advantages {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #242424;
  color: $color-white;
  position: relative;
  overflow: hidden;

  &--nojs &__item {
    display: block;
  }

  // Треугольник внизу
  &::after {
    content: '';
    position: absolute;
    min-width: 32rem;
    bottom: 0;
    border-left: calc(50vw) solid #f8f5f2;
    border-right: calc(50vw) solid #f8f5f2;
    border-top: 35px solid #242424;
    border-bottom: none;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    background-color: #353535;

    &::after {
      border-top-color: #353535;
    }
  }

  &__items {
    list-style: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      width: 76%;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      max-width: 960px;
      flex-direction: row;
      padding-top: 3rem;
    }
  }

  &__item {
    position: relative;
    display: none;
    font-size: 2rem;
    font-weight: 400;
    padding: 12rem 4rem 2rem;
    margin-bottom: 2rem;

    &--active {
      display: block;
    }

    @media (min-width: $tablet-width) {
      display: block;
      min-height: 13rem;
      padding: 0 0 3.5rem 13rem;
      margin-bottom: 4rem;
      border-bottom: 1px solid #4a4a4a;
      text-align: left;

      &:last-child {
        border: 0;
        margin-bottom: 2rem;
      }
    }

    @media (min-width: $desktop-width) {
      border-bottom: 0;
      border-right: 1px solid #4a4a4a;
      text-align: center;
      padding: 13rem 4rem 0rem;

      &:last-child {
        border: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 9.5rem;
      height: 9.4rem;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        right: 0;
        left: 0;
        transform: none;
      }

      @media (min-width: $desktop-width) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--icon-fast::before {
      background-image: url("../img/advantage-1-illustration.svg");
    }

    &--icon-cool::before {
      background-image: url("../img/advantage-2-illustration.svg");
    }

    &--icon-expensive::before {
      background-image: url("../img/advantage-3-illustration.svg");
    }
  }

  &__item-title {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @media (min-width: $tablet-width) {
      margin-bottom: 1rem;
    }
  }

  &__toggles {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}