.page-nav {
  position: relative;
  min-height: 5rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: $color-white;
  background-color: $color-light-brown;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    min-height: 7rem;
    background-color: $color-black;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 7rem;
    height: 5rem;
    background-color: $color-brown;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
      background-color: $color-medium-brown;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      width: 84%;
      max-width: 96rem;
      margin: 0 auto;
    }
  }

  &__items {
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-grow: 1;
      width: 57rem;
    }

    @media (min-width: $desktop-width) {
      width: 78rem;
    }
  }

  &__item {
    @media (min-width: $tablet-width) {
      margin-right: 3.2rem;
      
      &:last-child {
        margin-right: 0;
      }
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }

    a {
      display: block;
      padding: 1.2rem 2rem;
      color: $color-white;
      background-color: $color-light-brown;
      border-top: 1px solid #886e5b;
      border-bottom: 1px solid #71543f;
      text-transform: uppercase;
      text-decoration: none;

      @media (min-width: $tablet-width) {
        padding: 2.5rem 0 2.3rem;
        border: none;
        background: none;
      }

      @media (min-width: $desktop-width) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }

    a[href] {
      &:hover {
        background-color: $color-light-brown-2;
        border-top-color: $color-light-brown-2;
      }

      &:active {
        color:rgba(255, 255, 255, .3);
        background-color: $color-brown;
        border-top-color: $color-brown;
      }

      @media (min-width: $tablet-width) {
        &:hover {
          color: $color-light-brown;
          background-color: $color-black
        }

        &:active {
          color: $color-white;
          background-color: $color-black;
          opacity: 0.2;
        }
      }

      @media (min-width: $desktop-width) {
        &:hover {
          color: $color-black;
          background-color: $color-white;
        }

        &:active {
          color: rgba(0, 0, 0, .3);
          background-color: $color-white;
          opacity: 1;
        }
      }
    }

    &--active {
      @media (min-width: $tablet-width) {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 0;
          height: 0.3rem;
          background-color: $color-light-brown;
        }
      }
      
      @media (min-width: $desktop-width) {
        &::after {
          width: auto;
          right: 3rem;
          left: 3rem;
        }
      }
    }   
  }

  &__user-items {
    list-style: none;

    @media (min-width: $desktop-width) {
      width: auto;
      max-width: 16rem;
    }
  }

  &__user-login {
    position: relative;
    display: block;
    font-weight: 400;
    padding: 1.7rem 2rem;
    padding-left: 4.9rem;
    color: $color-white;
    text-decoration: none;

    //TODO SVG
    &::before {
      content: "";
      position: absolute;
      top: 2.1rem;
      left: 2.1rem;
      width: 1.6rem;
      height: 1.6rem;
      background: url("../img/login.png") no-repeat;
    }

    @media (min-width: $tablet-width) {
      width: 6rem;
      height: 7rem;
      padding: 0;
      font-size: 0;

      &::before {
        left: 1.2rem;
        top: 3rem;
      }

      //TODO SVG
      &:hover::before {
        background: url("../img/login-hover.png");
        opacity: 1;
      }

      //TODO SVG
      &:active::before {
        background: url("../img/login-hover.png");
        opacity: 0.5;
      }
    }

    @media (min-width: $desktop-width) {
      position: relative;
      width: auto;
      height: auto;
      padding: 2.5rem 3rem 2.3rem 5rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $color-black;
        background-color: $color-white;
      }

      &:active {
        color: rgba(0, 0, 0, .3);
        background-color: $color-white;
      }

      //TODO SVG
      &:hover::before {
        background: url("../img/login-hover.png");
        opacity: 1;
      }

      &:active::before {
        background: url("../img/login-hover.png");
        opacity: 0.4;
      }
    }
  }

  // Черта у закрытой кнопки
  &--closed &__toggle::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 1.7rem;
    width: 3.5rem;
    height: 0.2rem;
    background-color: $color-white;
    box-shadow: 0 0.8rem 0 0 $color-white,
                0 1.6rem 0 0 $color-white;
  }

  // Черта сверху и снизу на кнопке
  &--closed &__toggle:active::before {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0.8rem 0 0 rgba(255, 255, 255, .3),
                0 1.6rem 0 0 rgba(255, 255, 255, .3);
  }

  // Крест для кнопки
  &--opened &__toggle {
    top: 0;
    left: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 2.5rem;
      left: 1.8rem;
      width: 3.5rem;
      height: 0.2rem;
      background-color: $color-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, .3);
    }
  }

  // Состояние когда меню закрыто
  &--closed &__item {
    @media (max-width: $mobile-width-only) {
      display: none;

      &--active {
        display: block;
        padding: 0 7rem;
        text-align: center;
      }
    }
  }

  &--closed &__user-items {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  // Состояние когда меню открыто
  &--opened &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 7rem;
    z-index: 20;
    height: 80vh;
    background-color: $color-brown;

    // Внутреняя тень меню
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 0.7rem;
      height: 100%;
      box-shadow: inset 0.5rem 0 0.7rem -0.2rem rgba(0, 0, 0, .4);
    }
  }

  // Поведение при выключенном js
  &--nojs &__toggle {
    display: none;
  }

  &--nojs &__wrapper {
    position: static;
  }

  &--nojs &__item {
    display: block;
  }

  &--nojs &__item--active {
    padding: 0;
    text-align: left;
  }

  &--nojs &__user-items {
    display: block;
    background-color: $color-brown;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}
